<div class="container">
    <div class="row mx-auto my-5">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
            <app-loading *ngIf="this.flagLoading"></app-loading>
            <h3 class="text-center my-4">{{mensaje}}</h3>
            <form [formGroup]="formLogin" (ngSubmit)="loginIn()" class="needs-validation" novalidate>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Correo</label>
                    <div class="col-8">
                        <input [ngClass]="{ 'is-invalid': !formLogin.get('correo').valid }" class="form-control"
                            type="text" placeholder="Correo electronico" formControlName="correo" />
                        <div *ngIf="formLogin.controls['correo'].errors?.require" class="invalid-feedback">
                            El correo es necesario
                        </div>
                        <div *ngIf="formLogin.controls['correo'].errors?.pattern" class="invalid-feedback">
                            El correo no tiene del formato correcto
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Contrasena</label>
                    <div class="col-8">
                        <input [ngClass]="{ 'is-invalid': !formLogin.get('contrasena').valid }" class="form-control"
                            type="password" placeholder="Contrasena" formControlName="contrasena" />
                        <div (keyup.enter)="loginIn()" *ngIf="formLogin.controls['contrasena'].errors?.require"
                            class="invalid-feedback">
                            La contrasena es necesaria
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">&nbsp;</label>
                    <div class="input-group col-md-8">
                        <button type="submit" class="btn btn-outline-primary" [disabled]="formLogin.invalid || this.bandera">
                            Iniciar sesion
                        </button>
                    </div>
                </div>
            </form>
            <h2>Inicia sesion con</h2>
            <div class="input-group my-3">
                <button [disabled]="this.bandera" class="btn btn-outline-success mx-auto" style="width: 200px;" (click)="doGoogleLogin()">
                    Inicia con Google
                </button>
            </div>
            <div class="input-group my-3">
                <button [disabled]="this.bandera" class="btn btn-outline-success mx-auto" style="width: 200px;" (click)="doFacebookLogin()">
                    Inicia con FB
                </button>
            </div>
        </div>
    </div>
</div>