<div class="container">
  <div class="row mx-auto my-5">
    <div class="col-lg-7 offset-lg-3 col-md-6 offset-md-3 col-12">
      <h3 class="text-center my-4">Registrate!</h3>
      <form
        [formGroup]="forma"
        (ngSubmit)="guardarCambios()"
        class="needs-validation"
        novalidate
      >
        <div class="container">
          <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
              <input
                class="form-control"
                [ngClass]="{ 'is-invalid': !forma.get('nombre').valid }"
                type="text"
                placeholder="Nombre"
                formControlName="nombre"
              />
              <div
                *ngIf="forma.controls['nombre'].errors?.required"
                class="invalid-feedback"
              >
                El nombre es necesario
              </div>
              <div
                *ngIf="forma.controls['nombre'].errors?.minlength"
                class="invalid-feedback"
              >
                Al menos tres caracteres
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
              <input
                class="form-control"
                type="text"
                placeholder="Apellido"
                formControlName="apellido"
              />
              <div
                *ngIf="forma.controls['nombre'].errors?.required"
                class="invalid-feedback"
              >
                El nombre es necesario
              </div>
              <div
                *ngIf="forma.controls['nombre'].errors?.minlength"
                class="invalid-feedback"
              >
                Al menos tres caracteres
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Correo</label>
            <div class="col-8">
              <input
                [ngClass]="{ 'is-invalid': !forma.get('correo').valid }"
                class="form-control"
                type="text"
                placeholder="Correo electronico"
                formControlName="correo"
              />
              <div
                *ngIf="forma.controls['correo'].errors?.require"
                class="invalid-feedback"
              >
                El correo es necesario
              </div>
              <div
                *ngIf="forma.controls['correo'].errors?.pattern"
                class="invalid-feedback"
              >
                El correo no tiene del formato correcto
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Contrasena</label>
            <div class="col-8">
              <input
                [ngClass]="{ 'is-invalid': !forma.get('contrasena1').valid }"
                class="form-control"
                type="password"
                placeholder="Contrasena"
                formControlName="contrasena1"
              />
              <div
                *ngIf="forma.controls['contrasena1'].errors?.require"
                class="invalid-feedback"
              >
                La contrasena es necesaria
              </div>
              <div
                *ngIf="forma.controls['contrasena1'].errors?.minlength"
                class="invalid-feedback"
              >
                La contrasena debe tener al menos 5 caracteres
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Confirmar contrasena</label>
            <div class="col-8">
              <input
                [ngClass]="{ 'is-invalid': !forma.get('contrasena2').valid }"
                class="form-control"
                type="password"
                placeholder="Confirmar"
                formControlName="contrasena2"
              />
              <div
                *ngIf="forma.controls['contrasena2'].errors"
                class="invalid-feedback"
              >
                Las contrasenas no coinciden
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
              <button
                type="submit"
                class="btn btn-outline-primary"
                [disabled]="forma.invalid"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
